/* Default styles for navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a button
{
  /* padding: 4px;
  font-size: large;
  background-color: linear; */
  /* display: inline-block; */
  padding: 7px 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-links li a button:hover {
  background-color: #3e8e41;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px; /* adjust size as needed */
  height: 70px; /* adjust size as needed */
  margin-right: 10px; /* add spacing between logo and text if needed */
}

.logo a {
  color: #333;
  font-weight: bold;
  font-size: 24px; /* adjust size as needed */
  text-decoration: none;
}

.message {
  font-size: 2rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 50px;
}

.messages
{
  font-size: 1rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* font-weight: bold; */
  text-align: center;
  color: #333;
  margin-top: 50px;
}

.message em {
  font-style: italic;
}

.main-image {
  /* height: auto; */
  margin-left: 3rem;
  padding: 1rem;
}

.main-image img
{
  width: 87rem;
  height: 40rem;
  /* padding: 3rem; */
}

@media screen and (max-width: 768px) {
  .message {
    font-size: 18px;
    margin-top: 30px;
  }
}





@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
}

@media screen and (min-width: 769px) {
  .nav-links {
    width: auto;
  }

  .nav-links li {
    margin-right: 30px;
  }
}





@media (max-width: 600px) {
  .main-image {
    width: 80%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .main-image {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .main-image {
    width: 40%;
  }
}